################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/external/CHAI3D
/testProject/.vs/testProject/v15
/testProject/testProject/1_markers.csv
/testProject/testProject/1_HMD.csv
/testProject/testProject/1_cube.csv
/testProject/testProject/11_cube.csv
/testProject/testProject/11_HMD.csv
/testProject/testProject/11_markers.csv
